---
layout: base.njk
pagination:
    data: places
    size: 1
    alias: place
permalink: "central-heating/{{ place.slug }}.html"
---

<p>{{ place.name }}</p>
{% for review in heatingReviews %}
    <p>{{ review.title }}</p>
{% endfor %}