---
layout: base.njk
pagination:
    data: places
    size: 1
    alias: place
permalink: "plumbing/{{ place.slug }}.html"
---

<p>Reviews for {{ place.name }}, {{ place.postcode }}</p>
{% for review in plumbingReviews %}
    {% if review.postcode === place.postcode %}
        <p>{{ review.title }}</p>
    {% endif %}
{% endfor %}