---
layout: base.njk
pagination:
    data: places
    size: 1
    alias: place
permalink: "plumbing/{{ place.slug }}.html"
eleventyComputed:
    title: "Plumbing in {{ place.name }}"
---

<p>{{place.name}}</p>
