---
pagination:
    data: places
    size: 1
    alias: place
permalink: "plumbing/{{ place.slug }}.html"
---

{% set templates = 2 %}

{% for i in range(0, templates) -%}
  <p>{{ i }}</p>,
{%- endfor %}

<p>{{ username }}</p>

<p>{{ place.name }}</p>
<p>{{ place.countySlug }}</p>
<p>{{ place.postcode }}</p>
<p>{{ place.tel }}</p>
<p>{{ place.info }}</p>

{% import './places.njk' %}